table, tr, td, th {
	border: 1px solid black;
	border-collapse: collapse;
}
table {
	width: 200px;
	text-align: center;
}
th {
	background-color: black;
	color: white;
	text-align: left;
}
td {
	background-color: lightgray;
}